@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;

  transition: all 1s;
  /* background-color: #60b347; */
}

.light {
  transition: all 1s;
}

/* LAYOUT */
header {
  display: flex;
  flex-direction: row;
  height: 27vh;
  border-bottom: 7px solid #eee;
  transition: 0.5s;
  justify-content: center;
}

main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.switch-container {
  display: flex;
  padding: 2rem 5rem 0;
  justify-content: end;
}
.title-container {
  display: flex;
  flex-direction: column;
}
.redBg {
  transition: all 1s;
}

.container {
  max-width: 900px;
  display: flex;
}
.left {
  width: 52rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 52rem;
  font-size: 2rem;
  height: 30rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  align-self: flex-start;
  width: 100%;
}
.number-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 70%);
  transition: all 1s;
}
.number {
  border: 3px solid #000;
  background: #eee;
  color: #000;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  transition: all 1s;
}

.between {
  font-size: 2rem;
  margin-top: 1.7rem;
  text-align: center;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

.btn {
  border: 3px solid #000;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 1s;
}

.hidden {
  display: none;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  font-size: 2.5rem;
  margin-bottom: 8rem;
  height: 3rem;
}

.lose-message {
  margin-top: 70px;
}

.label-score {
  margin-bottom: 2rem;
}

/* Switch button */
.switch {
  background: orange;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: all 0.5s;
}
.switch span {
  padding-top: 0.1rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}
.switch::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.active {
  background: #222;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.5s;
}
.active::after {
  right: unset;
  left: 0;
  transition: all 0.5s;
}

@media (max-width: 900px) {
  main {
    align-items: unset;
  }
  header {
    height: 30vh;
  }
  h1 {
    width: 50%;
    align-self: center;
    line-height: 5rem;
  }
  .container {
    flex-direction: column;
  }
  .number-container {
    transform: translate(-50%, 100%);
  }
  .number {
    font-size: 3.8rem;
  }
  .left {
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .right {
    text-align: center;
    justify-content: start;
  }
  .guess {
    margin: 2rem 0;
    width: 20rem;
    height: 30px;
  }
  .message {
    margin-bottom: 2rem;
  }
  .again {
    display: none;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 3rem;
  }
  .guess {
    width: 15rem;
    font-size: 4rem;
  }
  .between {
    font-size: 1.5rem;
  }
  .message {
    font-size: 1.5rem;
  }
  .right {
    font-size: 1.4rem;
    justify-content: start;
    margin-top: 2rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  .left {
    flex-direction: column;
    margin-top: 5rem;
    align-content: space-around;
  }
  .switch-container {
    padding: 2rem 1rem 0;
  }
}

.between2 {
  display: none;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .number {
    font-size: 3rem;
    width: 12rem;
  }
  .guess {
    height: 7rem;
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .switch-container {
    padding: 1rem 1rem 0;
  }
  .between {
    display: none;
  }
  .between2 {
    display: block;
    margin-bottom: 2rem;
  }
  .message {
    margin-bottom: 2rem;
    height: 1rem;
  }
  .right {
    justify-content: start;
    margin-top: 1rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
