@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;

  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redBg {
  background-color: #b60505;
  transition: all 0.1s;
}
.blackBg {
  background-color: #222;
  transition: all 0.3s;
}

.container {
  max-width: 900px;
  display: flex;
}
.left {
  width: 52rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 52rem;
  font-size: 2rem;
  height: 30rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 62%);
}
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
}

.between {
  font-size: 2rem;
  margin-top: 1.7rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.again {
  display: none;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  font-size: 2.5rem;
  margin-bottom: 8rem;
  height: 3rem;
}

.lose-message {
  margin-top: 70px;
}

.label-score {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  main {
    align-items: unset;
  }
  .container {
    flex-direction: column;
  }
  .left {
    margin-top: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .right {
    text-align: center;
    justify-content: space-evenly;
  }
  .guess {
    margin: 2rem 0;
    width: 20rem;
  }
  .message {
    margin-bottom: 2rem;
  }
  .again {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
